@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

/* COLORS */
:root {
  --veryDarkDesaturatedBlue: hsl(238, 29%, 16%);
  --softRed: hsl(14, 88%, 65%);
  --softViolet: hsl(273, 75%, 66%);
  --softBlue: hsl(240, 73%, 65%);
  --veryDarkGrayishBlue: hsl(237, 12%, 33%);
  --darkGrayishBlue: hsl(240, 6%, 50%);
  --lightGrayishBlue: hsl(240, 5%, 91%);
}

/* GENERAL STYLES */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: var(--darkGrayishBlue);
}

h1 {
  text-align: center;
  color: var(--veryDarkDesaturatedBlue);
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

body {
  background: linear-gradient(var(--softViolet), var(--softBlue));
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  width: 100vw;
  padding: 40px;
}

main {
  background-color: white;
  padding: 140px 20px 60px 20px;
  margin: -110px 20px auto 20px;
  border-radius: 20px;
}

.image-section {
  display: none;
}

footer {
  margin: 30px 0;
}

/* FRONTEND MENTOR FOOTER */
.attribution {
  font-size: 11px;
  text-align: center;
  color: white;
}

.attribution a {
  color: hsl(228deg, 45%, 44%);
  margin-left: 5px;
}

/* MEDIA QUERIES */

@media (min-width: 768px) {
  body {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  main {
    padding: 60px 60px 60px 0;
    margin: auto;
    max-width: 850px;
    background-image: url(./Images/bg-pattern-desktop.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: -480px 65%;
    display: flex;
    align-items: center;
    gap: 20px;
  }
  h1 {
    text-align: left;
  }
  .content-section {
    width: 50%;
  }
  .image-section {
    display: block;
    background-image: url(./Images/illustration-woman-online-desktop.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: -50px 50%;
    width: 50%;
    position: relative;
    height: 295px;
  }
  .image-section img {
    position: absolute;
    left: -75px;
    bottom: 40px;
    width: 150px;
  }
  footer {
    width: 100%;
  }
}
